
<div>
    <button class= "btn btn-light" (click)="counterMin()"> <i class="fa fa-minus"> </i> </button>
    <label class="tag">{{counter}}</label>
    <button class= "btn btn-light" (click)="counterMax()"> <i class="fa fa-plus"> </i> </button>
</div>