div {
    display: grid;
    grid-template-columns: auto auto auto;

    .tag {
        text-align: center;
        background-color: rgb(255, 204, 65);
        color: white;
    }

    .tag, button {
        padding: 10px;
        height: 40px;
        margin: 10px;
    }
}
