<p>playground works!</p>

<app-button [text]="'Show an alert'" [type]="'light'" (clicked)="showAlert($event)" ></app-button>
<!-- <app-course-crud-form (formSubmit)="formSubmitted($event)" [modelId]="2"></app-course-crud-form> -->

<div class="counter" *ngFor="let counter of counters">
    <app-counter [min]="counter.min" [max]="counter.max" [counter] = "counter.count"></app-counter>
</div>