<form (submit)="formSubmitted($event, title.value, price.value, description.value)">

    <div class="form-group">
        <label for="name">Product name</label>
        <input type="text" class="form-control" value="{{titleValue}}" #title>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" name="price" #price value="{{priceValue}}" class="form-control" step="0.01">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" #description cols="30" rows="10" class="form-control">{{descriptionValue}}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>