<h2>Procduct Details</h2>
<div *ngIf='course'>
    <h3>{{course.name}}</h3>
    <h4>{{course.price | currency}}</h4>
    <p>{{course.description}}</p>

    <section class="buy row">
        <div class="col col-sm-6 col-md-3">
            <input type="number" name="amount" class="form-control amt" placeholder="amount" value="1" (click)="onAmountChange($event)" (keyup)="onAmountChange($event)">
        </div>
        <div class="col col-sm-6 col-md-9">
            <a (click)="addToCart(course)" class="btn btn-success">Buy</a>
            <a [routerLink]="['delete']" class="btn btn-danger"><i class="fa fa-delete"></i> Delete</a>
            <a [routerLink]="['edit']" class="btn btn-info"><i class="fa fa-pencil"></i>Edt</a>
        </div>
    </section>


</div>