.cart-item {
    padding: 10px;
    border-top: 1px solid #212121;
    border-bottom: 1px solid #313131;
}

.description {
    font-size: 0.9rem;
    color: #aaa;
    margin-left: 30px;
}

.clear-cart-btn {
    margin-top: 10px;
}

.price {
    font-size: 1.2rem;
    font-weight: bold 
}