<p *ngIf="items.length == 0"> You have not added any items to the cart</p>
<div class="row cart-item" *ngFor="let item of items">
    <div class="col col-sm-6">
        {{item.amount}}x {{item.name}}
        <span class="description">
            {{item.description}}
        </span>
    </div>
    <div class="col col-sm-6 text-right">
        <button [disabled]="item.amount <= 1" class="btn btn-primary" (click)="addAmount(item.id, -1)">-</button>
        <button class="btn btn-primary" (click)="addAmount(item.id, 1)">+</button>
        <a (click)="removeItem(item.id)" class="btn btn-danger"><i class="fa fa-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="col col-sm-6">
        <a (click)="clearCart()" class="btn btn-danger clear-cart-btn" *ngIf="items.length > 0" ><i class="fa fa-trash"></i> Delete All</a>
    </div>
    <div class="col col-sm-6 text-right">
        <div class="price">Total: {{sum | currency}}</div>
    </div>
</div>
