<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand" [routerLink]='["courses"]'>Courses</a>
      </li>
      <li>
        <a class="nav-link"[routerLink]='["courses/new"]'>New Course</a>
      </li>
      <li>
        <a class="nav-link"[routerLink]='["playground"]'>Playground</a>
      </li>
    </ul>
    
    <a [routerLink]="['cart']" class="nav-link"><i class="fa fa-shopping-cart"></i></a>
  </div>
</nav>
<div class="container">
  <h1>Miro Course Project</h1>
  <router-outlet></router-outlet>
</div>