<div class="jumbotron">
    <h3>Are you sure you want to delete {{course.name}}?</h3>
    <p>It cannot be recovered.</p>

    <a (click)="confirm()" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a> <a routerLink="/courses/{{course.id}}" class="btn btn-info">Go back</a>
</div>